# Global attributes for forcing line endings normalization of specific files

* text=auto

# Markdown documents
*.md text eol=crlf encoding=utf-8

# Text documents
*.txt text eol=crlf encoding=utf-8

# Git configs
.gitattributes text eol=lf encoding=utf-8
.gitignore text eol=lf encoding=utf-8
.mailmap text eol=lf encoding=utf-8

# EditorConfig files
.editorconfig text eol=crlf encoding=utf-8

# CMake files
*.cmake text eol=crlf encoding=utf-8
CMakeLists.txt text eol=crlf encoding=utf-8

# NuGet files
NuGet.config text eol=crlf encoding=utf-8
packages.config text eol=crlf encoding=utf-8
*.nuspec text eol=crlf encoding=utf-8

# MSBuild files
*.sln text eol=crlf encoding=utf-8-bom
*.vcxproj text eol=crlf encoding=utf-8
*.filters text eol=crlf encoding=utf-8
*.props text eol=crlf encoding=utf-8
*.targets text eol=crlf encoding=utf-8

# Visual Studio Code files
*.code-workspace text eol=crlf encoding=utf-8
.vscode/*.json text eol=crlf encoding=utf-8

# C and CPlusPlus files
*.h text eol=crlf encoding=utf-8
*.hpp text eol=crlf encoding=utf-8
*.c text eol=crlf encoding=utf-8
*.cpp text eol=crlf encoding=utf-8

# Resource Script files
*.rc text eol=crlf encoding=utf-8
*.rc.in text eol=crlf encoding=utf-8

# HLSL files
*.hlsl text eol=crlf encoding=utf-8
*.hlsli text eol=crlf encoding=utf-8

# Assets
*.ico binary
*.png binary
*.jpg binary
