<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="./pkg" />
    </config>

    <packageSources>
        <clear />

        <add key="Global" value="https://api.nuget.org/v3/index.json" />
        <add key="Local" value="./pkg" />
    </packageSources>
</configuration>
